#menu {
    position: fixed;
    text-align: center;
    font-size: 18px;
    margin-top: -400px;
    width: 100%;
    height: 80px;
}

#author {
    text-align: center;
}

#themee {
    position: absolute;
    border-radius: 50px;
    width: 10%;
    align-items: left;
    justify-content: space-between;
    cursor: pointer;
    transition: all .6s ease-in;
    margin-top: -45px;
    min-width: 80px;
}

#size {
    margin-right: 2%;
    position: static;
    text-align: right;
    margin-top: -61px;
}

#header {
    position: absolute;
    text-align: center;
    font-size: 18px;
    margin-top: -332px;
    width: 100%;
}

#descryption {
    border-radius: 25px;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-style: italic;
    text-align: justify;
}

#ranking {
    border-radius: 25px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 400px;
    margin-bottom: 4%;
    background: rgba(255, 255, 255, 0.2);
    font-size: 20px;
}

.rank {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 1%;
    border-radius: 50px;
}

.advert {
    height: 60px;
    width: 200px;
}

body {
    font-family: "Lato";
    line-height: 1.4;
    background-position-y: -100px;
    background-position-x: center;
    margin: 0px;
    background-attachment: fixed;
}

footer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

article {
    text-align: justify;
}

h2 {
    font-size: 35px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

#textSize {
    width: 80px;
}

.accordian {
    width: 100%;
    overflow: hidden;
    margin: auto;
    object-fit: cover;
}

.accordianul {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.accordian li {
    display: block;
    list-style-position: inside;
    /* poczatkowa wilekosc obrazka*/
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    object-fit: cover;
}

.accordian ul:hover li {
    width: 100px;
    width: 8%;
    object-fit: cover;
}

/*miniaturki*/

.accordian ul li:hover {
    width: 50%;
    object-fit: cover;
}

/*  wielkosc po powiększeniu*/

.accordian li img {
    display: block;
}

/*	.image_title {
        background: rgba(0, 0, 0, 0);
        position: relative;
        left: 0; bottom: 0;	
        width: 800px;	
        
}

.image_title a {
        display: block;
        color: #fff;
        text-decoration: none;
        
        font-size: 16px;
}*/

button[class^="grow"]::after {
    transition: all 0.3s ease;
}

button[class^="grow"]:hover::after {
    transition: all 0.3s ease-out;
}

button.grow_box::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
}

button.grow_box:hover::after {
    transform: scale(1, 1);
}

button {
    font-size: 1em;
    ;
    padding: 0.85em 0.75em;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    position: relative;
}

button::after {
    content: "";
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}

.przycisk {
    margin: auto;
    text-align: right;
}

#switch {
    padding: 0.45em 0.35em;
    width: 100%;
}

.tab1 {
    tab-size: 2;
}

.tab2 {
    tab-size: 4;
}

.tab4 {
    tab-size: 8;
}